@use '../base/variables' as *;

.weather-app {
    &__header {
        .navbar {
            background-color: $primary-color !important;
        }

        .navbar-brand {
            font-family: $font-brand;
        }

        .nav-link {
            font-family: $font-brand;
        }
    }
}