// Variables
$primary-color: #4a90e2; // Color azul cielo
$secondary-color: #6c757d;
$text-color: #333;
$bg-light: #f8f9fa;
$shadow-color: rgba(0, 0, 0, 0.1);
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-brand: 'Sekuya', system-ui;

// Breakpoints
$breakpoint-mobile: 420px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;